In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt  
from mlxtend.frequent_patterns import apriori, association_rules  

import warnings
warnings.filterwarnings("ignore")

In [32]:
df = pd.read_csv('Groceries_dataset.csv')
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [33]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')

dfTransaction = df.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index()

In [34]:
def encode_transaction(transactions): 
    unique_items = set(item for sublist in transactions for item in sublist)  
    encoded_data = []
    
    for transaction in transactions:
        encoded_data.append({item: (item in transaction) for item in unique_items})  
        
    return pd.DataFrame(encoded_data)

In [35]:
enTran = encode_transaction(dfTransaction)

In [36]:
frequent_itemsets = apriori(enTran, min_support=0.005, use_colnames=True)

In [37]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1.0)

print(rules.sort_values(by='lift', ascending=False).head(5))

            antecedents   consequents  antecedent support  consequent support  \
89482         (D, m, p)  (c, s, i, e)            0.333333            0.333333
117905  (m, t, D, n, s)     (r, o, e)            0.333333            0.333333
117895  (m, t, D, n, e)     (r, s, o)            0.333333            0.333333
117896  (e, m, t, D, s)     (r, n, o)            0.333333            0.333333
117897  (e, m, t, n, s)     (r, D, o)            0.333333            0.333333

         support  confidence  lift  representativity  leverage  conviction  \
89482   0.333333         1.0   3.0               1.0  0.222222         inf
117905  0.333333         1.0   3.0               1.0  0.222222         inf
117895  0.333333         1.0   3.0               1.0  0.222222         inf
117896  0.333333         1.0   3.0               1.0  0.222222         inf
117897  0.333333         1.0   3.0               1.0  0.222222         inf

        zhangs_metric  jaccard  certainty  kulczynski
89482             1.0      1.0        1.0         1.0
117905            1.0      1.0        1.0         1.0
117895            1.0      1.0        1.0         1.0
117896            1.0      1.0        1.0         1.0
117897            1.0      1.0        1.0         1.0