In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
paragraphs = soup.find_all("p")

In [4]:
cleaned_paragraphs = [p.get_text(strip=True) for p in paragraphs if p.get_text(strip=True)]

In [5]:
import pandas as pd
df = pd.DataFrame({
    "paragraph_index": list(range(1, len(cleaned_paragraphs)+1)),
    "text": cleaned_paragraphs
})

In [6]:
df.head()

   paragraph_index                                               text
0                1  This list comprises the largest companies curr...
1                2  The Fortune 500 list of companies includes onl...
2                3  Below are the 100 largest companies by revenue...
3                4  Below are the 10 largest private companies by ...
4                5  The 10 most profitable companies in 2024 accor...